streamlit==1.38.0
python-dotenv==1.0.1
pypdf==4.3.1
faiss-cpu==1.8.0.post1

langchain==0.2.17
langchain-community==0.2.16
langchain-core==0.2.43
langchain-text-splitters==0.2.4
langchain-google-genai==1.0.10

google-generativeai==0.7.2
sentence-transformers==3.0.1
huggingface_hub==0.24.6
